/* CSS from old project */

@import url("https://s3-eu-west-1.amazonaws.com/smhw-frontend-prod/assets/fonts/OpenSans-Regular-webfont.woff");

html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: black;
    border-radius: 6px;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

p, span, a {
    color: black;
}

.center-login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center-login-hint {
    font-size: 16pt;
}

.center-login-input-container {
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

.center-login-input-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-login-input {
    margin-left: 24px;
    border-radius: 4px;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px 24px;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

.center-login-input:focus {
    border: 1px solid #0e79c9;
}

.center-login-button {
    width: 100%;
    outline: none;
    border: none;
    padding-left: 13px;
    padding-right: 13px;
    margin: 4px;
    border-radius: 4px;
    background: #0e79c9;
    cursor: pointer;
    color: white;
    height: 35px;
}

.center-login-button:hover {
    background: #289af0;
}

.center-login-error {
    color: red;
}